{% extends 'home/base.html' %}
{% block content %}
<h3>मुनाफा रकम राख्नुहोस्</h3>
<form method="POST">{% csrf_token %}
    {% for field in form %}
        <div class="fieldWrapper" style="margin: 10px; padding:10px;">
            {{ field.label_tag }} {{ field }}
            {% if field.help_text %}
                <p class="help">{{ field.help_text|safe}}</p>
            {% endif %}
        </div>
    {% endfor%}
    <input type="submit"  class="admin-btn" style="border: none;" value="सुरक्षित गर्नुहोस्">
</form>
{% endblock %}