{% extends 'home/base.html' %}
{% block content %}
    <div class="row">
        <div class="col-12 col-sm-12 col-m-12">
            <div class="card">
                <div class="card-header">
                    <h3>सहकारीको खर्च बिबरण</h3>
                    <i class="fas fa-ellipsis-h"></i>
                </div>
                <div class="card-content">
                    <div class="btn-container">
                        <a href="{% url 'homeapp:CreateExpense' %}" >खर्च बिबरण राख्नुहोस</a>
                    </div>
                </div>
                <table>
                    <thead>
                        <tr>
                            <th>क्र.सं.</th>
                            <th>खर्च शिर्षक</th>
                            <th>खर्च रकम</th>
                            <th>खर्च मिती</th>
                            <th>कैफियत</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for expense in expenses %}
                        <tr>
                            <td>{{forloop.counter}}</td>
                            <td>{{expense.title}}</td>
                            <td>{{expense.amount}}</td>
                            <td>{{expense.expense_date|date:"Y/m/d"}}</td>
                            <td>{{expense.remarks }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="2">जम्मा</td>
                            <td>रुः {{ totalexpense.amount__sum}}</td>
                        </tr>
                        
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
{% endblock %}